<div class="container">
	<h2>{{header}}</h2>
	<form name="myForm">
		<input type="text" name="productName" ng-model="product.name" required>Name</input>
		<span style="color:red" ng-show="myForm.productName.$dirty && myForm.productName.$error.required">Name required ma-focka</span>
		</br>

		<input type="number" name="price" ng-model="product.price" required>Price</input>
		<span style="color:red" ng-show="myForm.price.$dirty && (myForm.price.$error.required || !myForm.price.$valid)">Price must be a number</span>
		</br>

		<input type="number" name="quantitySold" ng-model="product.quantitySold" required>quantitySold</input>
		<span style="color:red" ng-show="myForm.quantitySold.$dirty && (myForm.quantitySold.$error.required || !myForm.quantitySold.$valid)">quantitySold must be a number</span>
		</br>

		<input type="number" name="quantityInStock" ng-model="product.quantityInStock" required>quantityInStock</input>
		<span style="color:red" ng-show="myForm.quantityInStock.$dirty && (myForm.quantityInStock.$error.required || !myForm.quantityInStock.$valid)">quantityInStock must be a number</span>
		</br>

		<input type="text" name="imagePath" ng-model="product.imagePath" required>Image Path</input>
		<span style="color:red" ng-show="myForm.imagePath.$dirty && myForm.imagePath.$error.required">Image Path required ma-focka</span>
		</br>
		
		</br>

		<button ng-click="onOk()" ng-disabled="myForm.productName.$error.required || myForm.price.$error.required || !myForm.price.$valid || myForm.quantitySold.$error.required || !myForm.quantitySold.$valid || myForm.quantityInStock.$error.required || !myForm.quantityInStock.$valid || myForm.imagePath.$error.required">{{confirm}}</button>
		<button ng-click="onCancel()">cancel</button>
		</br>
	</form>
</div>