
<div id="mainWindow">
	<div class="container" style="margin-top:100px"  >
		<div class="row"> 
			<div class="col-md-2"> 
			 <img class="img-responsive img-thumbnail" src="{{seller.imagePath}}" alt="{{seller.name}}" style="width:150px;height:150px;  box-shadow: 3px 3px grey"> </img>

			</div>
			<div class="col-md-6"> 
			  <h2>{{seller.name}} <br />
			  <small>{{seller.category}}</small></h2>
			</div>

			<div class="col-md-3"> 
			  	<button class="btn btn-info" ng-click="onAddProduct()">Add Product</button>
			</div>
		</div>
	</div>	
	<hr />


	<!--<div class="row" style="padding-left:60px">
    	<ul class="nav nav-tabs" style="border-bottom: none!important">
      		<li ng-repeat="tab in tabs" ng-class="{active:isActive(tab.tabUrl)}"  ng-click="onClick(tab)"> <a  class="disabled">{{tab.title}} </a>
      		</li>
    	</ul>
    </div> -->

    <div class="row" style="padding-left:60px">
    <div class="col-md-1" > </div>
        <div class="col-md-4" >
	    	<ul class="nav nav-tabs" role="tablist" style="border-bottom:none!important" >
	      		<li ng-repeat="tab in tabs" ng-class="{active:isActive(tab.tabUrl)}"  ng-click="onClick(tab)" style="border-style: outset;
	   			 border-width: 1px 1px 0 1px" > <a  class="disabled">{{tab.title}} </a>
	      		</li>
	    	</ul>
    	</div>
 
    	<div class="col-md-7" >
    		<h1 style="color:#0074D9;text-shadow: 2px 2px 2px #001f3f"> {{TabTitle}}</h1> 
   		 </div>

    	<div ng-include="activeTab" style="padding-top:50px" ></div>
    	  <div ng-include="TabTitle" ></div>

   
       </div>

 </div>


 <script type="text/ng-template" id="AllProducts">

	
	<div class="container-fluid" style="padding-top:40px;">
		<div class="row">
			<div class="col-sm-1"> </div>
			<div class="col-sm-10">
				<ul class="list-inline">
					<div ng-hide="NoProducts">
						<h1 style="text-align:center">This Sellers has no Products!! </h1>
					</div> 
					<li  ng-repeat="p in products"> 
						

			 			<div class="ih-item square effect3 bottom_to_top"><a class="disabled">
			 				<div class="img">
			 				<img  src="{{p.imagePath}}" alt="{{p.name}}"> </img>
							</div>
			
						<div class="info">	
	          				<h3>{{p.name}}</h3>
	          				<div class="row">
								<div class="col-sm-3">
									<button ng-click="onEditProduct(p.id)" class="btn btn-info btn-sm">
	         			 				<span class="glyphicon glyphicon-edit"></span>
	       				 			</button> 
	       				 		</div>
	       				 		<div class="col-sm-5">
	          						<p>verð {{p.price}}</p>
	          					</div>
          					</div>
        				</div></a></div>
        	 		</li> 
       			</ul> 
       		</div>
       		<div class="col-sm-1"> </div>
      	 </div>
     </div>
  </script>

  <script type="text/ng-template" id="TopTen">
	<div class="container-fluid" style="padding-top:40px;">
		<div class="row">
			<div class="col-sm-1"> </div>
			<div class="col-sm-10">
				<ul class="list-inline">
					<div ng-hide="NoProducts">
						<h1 style="text-align:center">This Sellers has no Products!! </h1>
					</div>
				    <li  ng-repeat="p in products | orderBy: '-quantitySold' | limitTo:10 "> 
						<div class="ih-item square effect3 bottom_to_top"><a class="disabled">
							<div class="img">
							 	<img  src="{{p.imagePath}}" alt="{{p.name}}"> </img>
							</div>
						<div class="info">	
	          				<h3>{{p.name}}</h3>
	          				<div class="row">
								<div class="col-sm-3">
									<button type="button" class="btn btn-info btn-sm">
	         			 				<span class="glyphicon glyphicon-edit"></span>
	       				 			</button> 
	       				 		</div>
	       				 		<div class="col-sm-5">
	          						<p>verð {{p.price}}</p>
	          					</div>
          					</div>
        					</div></a></div>
        	 		</li> 
       			</ul> 
       		</div>
       		<div class="col-sm-1"> </div>
      	 </div>
     </div>

  </script>
</div>


		


